{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Все пользователи{% endblock %}</h1>
{% endblock %}

{% block accounts_name %}{{ current_user.username }}{% endblock %}

{% block accounts_username %}
    <a class="nav-link active" aria-current="page" href="{{ url_for('accounts.user_info', user_id=user.id) }}">Об
        аккаунте</a>
{% endblock %}


{% block content %}
    <style>
        section {
            margin-left: auto;
            margin-right: auto;
            width: 35%;
        }

        .all_users {
            text-align: left;
            width: 35%;
            height: 100%;
            position: absolute;
            overflow: auto;
        }
    </style>
    <ul class="all_users">
        {% for user in lst %}
            <li><a href="{{ url_for('accounts.user_info', user_id=user[0]) }}" style="color: black">{{ user[1] }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
