{% extends 'base authentication.html' %}

{% block tittle %}{% block head %}Авторизация{% endblock %}{% endblock %}

{% block css %}padding: 10px 25px;{% endblock %}

{% block body %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger" style="font-size: 20px; position:relative; top: -15px; color: #b60000; font-weight: bold">
                {{ messages[0] }}
            </div>
        {% endif %}
    {% endwith %}
    {{ form.hidden_tag() }}
    <div class="form-group">
        <input type="text" class="form-control" id="username" placeholder="Username" name="username" pattern="\w{0,64}" value="">
        <i class="fa fa-user"></i>
    </div>
    <div class="form-group help">
        <input type="password" class="form-control" id="password" placeholder="Password" name="password"
               pattern="\w{0,255}">
        <i class="fa fa-lock"></i>
        <a href="{{ url_for('accounts.oops') }}" class="fa fa-question-circle"></a>
    </div>
    <div class="form-group">
        <div class="main-checkbox">
            <input type="checkbox" value="none" id="remember_me" name="remember_me"/>
            <label for="remember_me"></label>
        </div>
        <span class="text">Запомнить</span>
        <button type="submit" class="btn btn-default">ВХОД</button>
    </div>
{% endblock %}
