{% extends 'base authentication.html' %}
{% block tittle %}Восстановление пароля{% endblock %}
{% block head %}
    <h1>Ooops! Вы не помните пароль? Какая жалость</h1>
    <h2>Заполните эту форму</h2>
    <h3>Вы сможете зайти в аккаунт и поменять пароль</h3>
{% endblock %}

{% block css %}padding: 10px 25px;{% endblock %}

{% block body %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger" style="font-size: 20px; position:relative; top: -15px; color: #b60000; font-weight: bold">
                {{ messages[0] }}
            </div>
        {% endif %}
    {% endwith %}
    {{ form.hidden_tag() }}
    <div class="form-group">
        <input type="number" class="form-control" id="id" placeholder="id" name="id">
        <i class="fa fa-id-badge"></i>
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="username" placeholder="Username" name="username" pattern="\w{1,255}"
               title="English pls и длина от 1 до 255 символов">
        <i class="fa fa-user"></i>
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="city" placeholder="City" name="city" pattern="[а-яА-Я]{1,255}"
               title="На русском название города, длина которого от 1 до 255 символов">
        <i class="fa fa-home"></i>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-default">ВХОД</button>
    </div>
{% endblock %}
