{% extends 'base authentication.html' %}

{% block tittle %}{% block head %}Регистрация{% endblock %}{% endblock %}

{% block css %} padding: 10px 60px; left: 35%; position: absolute;{% endblock %}

{% block body %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger"
                 style="font-size: 20px; position:relative; top: -15px; color: #b60000; font-weight: bold">
                <p>{{ messages[0] }}.</p>
                <p>
                    Вы можете <a href="{{ url_for('accounts.login') }}" style="display: inline-block; color: #00009a">авторизоваться</a>
                </p>
            </div>
        {% endif %}
    {% endwith %}
    <body class="form" onload="body_onload();">
    {{ form.hidden_tag() }}
    <div class="form-group">
        <input type="text" class="form-control" id="username" placeholder="Username" name="username" value=""
               pattern="\w{0,255}" required title="Username длиной от 1 до 255 символов на English">
        <i class="fa fa-user"></i>
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="city" placeholder="city" name="city" pattern="[а-яА-Я]{1,50}" value=""
               required title="Название города на русском, длина от 1 до 255 букв">
        <i class="fa fa-home"></i>
    </div>
    <div class="form-group">
        <input type="password" class="form-control" id="password" placeholder="Password" name="password" value=""
               pattern="\w{0,255}" required title="Пароль состоит из любых символов, длиной от 1 до 255 символов">
        <i class="fa fa-lock"></i>
    </div>
    <div class="form-group">
        <input type="password" class="form-control" id="repeat_password" placeholder="Repeat password" value=""
               name="repeat_password" pattern="\w{0,255}" title="Пароль состоит из любых символов, длиной от 1 до 255 символов" required>
        <i class="fa fa-lock"></i>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-default">Регистрация</button>
    </div>
    <script>
        window.addEventListener('DOMContentLoaded', function () {
            var form = document.querySelector('.form'),
                pas = form.querySelectorAll('#password, #repeat_password');
            form.addEventListener('submit', function (e) {
                var err = !(pas[0].value && (pas[0].value === pas[1].value))
                pas[1].setAttribute("title", err ? 'err' : '');
                err && e.preventDefault();
            }, false);
            pas[1].addEventListener('input', function (e) {
                var err = !(pas[0].value === pas[1].value)
                pas[1].setAttribute("title", err ? 'err' : 'SKHGXDL');
            }, false);
        });
    </script>
    <style type="text/css">
        [title="err"] {
            border: solid 2px red;
        }

    </style>
    </body>
{% endblock %}