{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Что я о тебе знаю{% endblock %}
        <img src="{{ url_for('static', filename='accounts/123.gif') }}" alt=""></h1>
{% endblock %}

{% block accounts_name %}{{ current_user.username }}{% endblock %}

{% block accounts_username %}
    <a class="nav-link active" aria-current="page" href="{{ url_for('accounts.user_info', user_id=current_user.id) }}">Об
        аккаунте</a>
{% endblock %}

{% block content %}
    <script type="text/javascript">
        $(document).ready(function () {
            $(".one").click(function () {
                $("#panelsStayOpen-collapseOne").collapse('toggle');
            });
            $(".two").click(function () {
                $("#panelsStayOpen-collapseTwo").collapse('toggle');
            });
            $(".three").click(function () {
                $("#panelsStayOpen-collapseThree").collapse('toggle');
            });
            $(".four").click(function () {
                $("#panelsStayOpen-collapseFour").collapse('toggle');
            });
        });
    </script>
    <style>
        .accordion {
            width: 60%;
            margin-left: auto;
            margin-right: auto;
        }

        .accordion-button {
            font-size: 2rem;
            font-weight: bold;
        }

        .accordion-body {
            font-size: 25px;
        }
    </style>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_auth.css') }}">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger" style="font-size: 30px; position:relative; top: -15px; color: red; font-weight: bold">
            <img src="{{ url_for('static', filename='accounts/warning.png') }}" alt="">
                {{ messages[0] }}
            <img src="{{ url_for('static', filename='accounts/warning.png') }}" alt="">
            </div>
        {% endif %}
    {% endwith %}
    <div class="accordion" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                <button class="accordion-button collapsed one" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseOne">
                    ID: {{ current_user.id }}
                </button>
            </h2>
            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse"
                 aria-labelledby="panelsStayOpen-headingOne">
                <div class="accordion-body">
                    Меня менять нельзя 🙁
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                <button class="accordion-button collapsed two" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseTwo">
                    Username: {{ current_user.username }}
                </button>
            </h2>
            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
                 aria-labelledby="panelsStayOpen-headingTwo">
                <div class="accordion-body">
                    Если вы хотите поменять username, введите новый ниже
                    <form method="POST" class="form-horizontal"
                          action="{{ url_for('accounts.change_username', user_id=current_user.id) }}"
                          style="padding-bottom: 0px;">
                        <div class="form-group" style="display:inline-block;">
                            <input type="text" class="form-control" id="username" placeholder="Username" name="username"
                                   pattern="\w{0,64}">
                            <i class="fa fa-user"></i>
                        </div>
                        <button type="submit" class="btn btn-default">изменить</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                <button class="accordion-button collapsed three" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseThree">
                    Пароль: меня отобразить нельзя 🙁
                </button>
            </h2>
            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
                 aria-labelledby="panelsStayOpen-headingThree">
                <div class="accordion-body">
                    Если вы хотите поменять пароль, введите новый ниже
                    <form method="POST" class="form-horizontal"
                          action="{{ url_for('accounts.change_password', user_id=current_user.id) }}"
                          style="padding-bottom: 0px;">
                        <div class="form-group" style="display:inline-block;">
                            <input type="password" class="form-control" id="password" placeholder="Password"
                                   name="password"
                                   pattern="\w{0,64}">
                            <i class="fa fa-lock"></i>
                        </div>
                        <button type="submit" class="btn btn-default">изменить</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                <button class="accordion-button collapsed four" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseFour">
                    Город: {{ current_user.city }}
                </button>
            </h2>
            <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse"
                 aria-labelledby="panelsStayOpen-headingFour">
                <div class="accordion-body">
                    Если вы хотите поменять город, введите новый ниже
                    <form method="POST" class="form-horizontal"
                          action="{{ url_for('accounts.change_city', user_id=current_user.id) }}" style="padding-bottom: 0px;">
                        <div class="form-group" style="display:inline-block;">
                            <input type="text" class="form-control" id="city" placeholder="City" name="city">
                            <i class="fa fa-home"></i>
                        </div>
                        <button type="submit" class="btn btn-default">изменить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
