
a {
    font-style: normal;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

.nav-link.active {
    color: black;
}

.nav-item-3 {
    position: relative;
    left: -43%;
    top: -80px;
    display: inline-block;
}

.btn.btn-secondary.dropdown-toggle {
    width: 500%;
    height: 69px;
    border-radius: 36px;
    background: #d1d1ff;
    color: black;
    border: none;
    outline: none;
    padding: 16px; /*???*/
}

.btn.btn-secondary.dropdown-toggle:focus {
    background: #d1d1ff;
}

.btn:active {
    background: #d1d1ff;
}

input {
    width: 619px;
    height: 69px;
    border-radius: 36px;
    background: #F5F1FF;
    border: none;
    outline: none;
    padding: 16px; /*???*/
}

.nav-item {
    position: relative;
    width: 298px;
    height: 116px;
    left: -47%;
    top: 18px;
    font-weight: 800;
    font-size: 64px;
    line-height: 78px;
    display: inline-block;
}

.nav-item-1 {
    position: relative;
    width: 268px;
    height: 31px;
    left: 40%;
    top: -25px;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    display: inline-block;
}

.nav-item-2 {
    position: relative;
    width: 130px;
    height: 30px;
    left: 50%;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    top: -25px;
    display: inline-block;
}

.city {
    position: relative;
    text-align: center;
    top: -3%;
    font-weight: 700;
    font-size: 64px;
    line-height: 58px;
}

.block {
    position: relative;
    top: 25px;
    margin-bottom: 50px;
}

.block_1 {
    width: 442px;
    height: 759px;
    background: rgba(126, 81, 255, 0.08);
    border: 1px solid #001AFF;
    box-sizing: border-box;
    box-shadow: 10px 10px 100px 10px #E7DEFF;
    border-radius: 41px;
    display: inline-table;
    margin-right: 100px;
}

.block_2 {
    width: 442px;
    height: 759px;
    background: rgba(126, 81, 255, 0.08);
    border: 1px solid #001AFF;
    box-sizing: border-box;
    box-shadow: 10px 10px 100px 10px #E7DEFF;
    border-radius: 41px;
    display: inline-table;
    margin-right: 100px;
    margin-left: 100px;
}

.block_3 {
    width: 442px;
    height: 759px;
    background: rgba(126, 81, 255, 0.08);
    border: 1px solid #001AFF;
    box-sizing: border-box;
    box-shadow: 10px 10px 100px 10px #E7DEFF;
    border-radius: 41px;
    display: inline-table;
    margin-left: 100px;
}

.hr-line {
    width: 440px;
    height: 0px;
    border: 1px solid;
    color: #000000;
    top: 30px;
    position: relative;
}

.block.header {
    text-align: center;
    position: relative;
    margin: 0px;
    font-size: 24px;
    font-weight: 700;
}

.temperature {
    text-align: left;
    font-weight: 600;
    font-size: 64px;
    line-height: 78px;
    top: 50px;
    position: relative;
    left: 25px;
}

.forecast7 {
    height: 270px;
}

.forecast7 p {
    position: relative;
    width: 211px;
    height: 45px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    top: 10px;
    left: 8%;
}

.day {
    display: inline-table;
    position: relative;
    left: 5%;
    top: -10px;
}

.day p {
    width: 87px;
    height: 70px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
}

.day-temperature {
    position: relative;
    top: -20%;
}

.night-temperature {
    position: relative;
    top: -50px;
    color: rgba(0, 0, 0, 0.5);
}

.features {
    position: relative;
    width: 133px;
    height: 27px;
    top: -65px;
    left: -31%;
}

.features p {
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    width: 135px;
    display: inline-block;
    height: 20px;
}

.forecast7_2 {
    position: relative;
    top: 5%
}