<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style_auth.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='pic/cloudy.svg') }}" type="image/x-icon">
    <title>{% block tittle %}{% endblock %}</title>
    <style>
        .form-horizontal .btn {
            float: right;
            font-size: 14px;
            color: #fff;
            background: #00b4ef;
        {% block css %}
        {% endblock %}
            border-radius: 30px;
            border: none;
            text-transform: capitalize;
            transition: all 0.5s ease 0s;
        }
    </style>
    <ul class="nav" style="display: inline-block; left: 15%; position:relative;">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page"
               href="{{ url_for('company_management.main_page') }}">Weather</a>
            <img src="{{ url_for('static', filename='pic/cloudy.svg') }}" alt="cloud"
                 style="position: relative;
                        width: 86px;
                        height: 83px;
                        left: -33%;
                        top: -83%;">
        </li>
    </ul>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <form class="form-horizontal" method="post">
                <span class="heading">{% block head %}{% endblock %}</span>
                {% block body %}{% endblock %}
            </form>
        </div>
    </div>
</div>
</body>
</html>