<!doctype html>
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style_base.css') }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='pic/cloudy.svg') }}" type="image/x-icon">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<body style="text-align: center">
<header>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.2/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.2/js/bootstrap.bundle.min.js"></script>
    <script src="https://stacksnippets.net/scripts/snippet-javascript-console.min.js?v=1"></script>
    <ul class="nav" style="display: inline-block">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page"
               href="{{ url_for('company_management.main_page') }}">Weather</a>
            <img src="{{ url_for('static', filename='pic/cloudy.svg') }}" alt="cloud"
                 style="position: relative;
                        width: 86px;
                        height: 83px;
                        left: -65%;
                        top: -83%;">
        </li>
        {% block search %}
        {% endblock %}
        <li class="nav-item-1">
            <a class="nav-link active" aria-current="page"
               href="{{ url_for('company_management.favorite') }}">Избранное</a>
            <img src="{{ url_for('static', filename='pic/star.svg') }}" alt="star"
                 style="position: relative;
                        width: 50px;
                        height: 48px;
                        left: -50%;
                        top: -57px;">
        </li>
        <li class="nav-item-2">
            <div class="dropdown">
                <button class="nav-link active btn btn-default" type="button" id="dropdownMenuButton1"
                        data-toggle="dropdown" style="font-weight: 600; font-size: 36px; line-height: 44px;">
                    {% if not current_user.is_authenticated %}
                        Войти
                    {% else %}
                        {{ current_user.username }}
                    {% endif %}
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    {% if not current_user.is_authenticated %}
                        <a class="nav-link active" aria-current="page" href="{{ url_for('accounts.login') }}">Авторизоваться</a>
                        <a class="nav-link active" aria-current="page" href="{{ url_for('accounts.register') }}">Регистрация</a>
                    {% endif %}
                    {% if current_user.is_authenticated %}
                        <a class="nav-link active" aria-current="page"
                           href="{{ url_for('accounts.logout') }}">Выйти</a>
                        <a class="nav-link active" aria-current="page"
                           href="{{ url_for('accounts.user_info', user_id=current_user.id) }}">Об аккаунте</a>
                        {% if current_user.role == 1 %}
                            <a class="nav-link active" aria-current="page" href="{{ url_for('accounts.all_users') }}">Пользователи</a>
                        {% endif %}
                    {% endif %}
                    <a class="nav-link active" aria-current="page" href="{{ url_for('company_management.info') }}">О
                        сайте</a>
                    <a class="nav-link active" aria-current="page" href="{{ url_for('company_management.review') }}">Оставить
                        отзыв</a>
                </ul>
                <img src="{{ url_for('static', filename='pic/user.svg') }}" alt="User"
                     style="position: relative;
                        width: 67px;
                        height: 52px;
                        left: -67%;
                        top: -60px">
            </div>
        </li>
    </ul>
</header>
</body>
<section class="content">
    <header>
        {% block header %}{% endblock %}
    </header>
    {% block content %}{% endblock %}
</section>
