{% extends 'base.html' %}

{% block title %}Избранное{% endblock %}

{% block header %}
    <style>
        .shadow-lg.p-3.mb-5.bg-body {
            width: 60%;
            margin-left: auto;
            margin-right: auto;
            border-radius: 3em;
            font-size: 40px;
            text-align: left;
            font-weight: bold;
        }

        .shadow-lg.p-3.mb-5.bg-body.p {
            position: relative;
            left: 5%;
        }

        .btn-close {
            display: inline-block;
            right: 22%;
            position: absolute;
            padding-top: 0px;
            padding-right: 0px;
            padding-left: 0px;
            padding-bottom: 0px;
            height: 76px;
            width: 61px;
        }
    </style>
    {% for x in lst %}
        <div class="shadow-lg p-3 mb-5 bg-body">
        <form method="get" action="{{ url_for('company_management.delete_favorite_from_favorite', f_city=x.id) }}">
            <p style="display: inline-block">{{ x.name }}</p>
            <button type="submit" class="btn-close" aria-label="Close">
            </button>
        </form>
        </div>
    {% endfor %}
{% endblock %}