{% extends 'base.html' %}

{% block title %}О сайте{% endblock %}

{% block header %}
    <style>
        p {
            font-size: 30px;
            font-weight: bolder;
        }
    </style>
    <br><br><br>
    <h1>Привет, здесь когда-нибудь (нет) будет информация о сайте!</h1><br><br><br>
    <p>Это агрегатор погоды, здесь ты можешь узнать погоду в своём городе сразу из нескольких источников</p>
{% endblock %}