{% extends 'base.html' %}

{% block title %}Weather{% endblock %}

{% block header %}{% endblock %}

{% block search %}
    <li class="nav-item-3">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdown_coins"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Поиск города
            </button>
            <div id="menu" class="dropdown-menu" aria-labelledby="dropdown_coins" style="top: 30px; left: -4%; ">
                <form method="POST" action="{{ url_for('company_management.main_page') }}">
                    <input type="search" class="form-control" id="searchCoin" placeholder="Москва"
                           autofocus="autofocus">
                    <ul>
                        <div id="menuItems" style="width: 783px;">
                        </div>
                    </ul>
                </form>

                <div id="empty" class="dropdown-header" style="display: none;">Нет таких городов</div>
            </div>
        </div>
        <script type="text/javascript">
            //Initialize with the list of symbols
            let names = {{ dictionary|safe }};
            //Find the input search box
            let search = document.getElementById("searchCoin")

            //Find every item inside the dropdown
            let items = document.getElementsByClassName("dropdown-item")

            function buildDropDown(values) {
                let contents = []
                for (const name in values) {
                    contents.push('<li><input type="submit" class="dropdown-item" name="city" type="button" value="' + name + '"/></li>')
                }
                $('#menuItems').append(contents.join(""))

                //Hide the row that shows no items were found
                $('#empty').hide()
            }

            //Capture the event when user types into the search box
            window.addEventListener('input', function () {
                filter(search.value.trim().toLowerCase())
            })

            //For every word entered by the user, check if the symbol starts with that word
            //If it does show the symbol, else hide it
            function filter(word) {
                let length = items.length
                let collection = []
                let hidden = 0
                for (let i = 0; i < length; i++) {
                    if (items[i].value.toLowerCase().startsWith(word)) {
                        $(items[i]).show()
                    } else {
                        $(items[i]).hide()
                        hidden++
                    }
                }

                //If all items are hidden, show the empty view
                if (hidden === length) {
                    $('#empty').show()
                } else {
                    $('#empty').hide()
                }
            }

            //If the user clicks on any item, set the title of the button as the text of the item
            $('#menuItems').on('click', '.dropdown-item', function () {
                $('#dropdown_coins').text($(this)[0].value)
                $("#dropdown_coins").dropdown('toggle');
            })

            buildDropDown(names)
        </script>
        <div class="as-console-wrapper">
            <div class="as-console"></div>
        </div>
    </li>{% endblock %}

{% block content %}
    <div class="city">
        <style>
            a.add_city {
                background: url({{ url_for('static', filename='company_management/star.png') }});
                display: inline-block;
                width: 64px;
                height: 64px;
                position: relative;
                top: 6px;
                left: 0px;
            }

            a.add_city:hover {
                background: url({{ url_for('static', filename='company_management/star_hover.png') }});
            }

            a.delete_city {
                background: url({{ url_for('static', filename='company_management/star_favorite.png') }});
                display: inline-block;
                width: 64px;
                height: 64px;
                position: relative;
                top: 6px;
                left: 0px;
            }

            a.delete_city:hover {
                background: url({{ url_for('static', filename='company_management/star.png') }});
            }
        </style>
        {% if current_user.is_authenticated %}
            {% if not check_city %}
                <a href="{{ url_for('company_management.add_favorite', f_city=f_city) }}" class="add_city"></a>
            {% else %}
                <a href="{{ url_for('company_management.delete_favorite', f_city=f_city) }}" class="delete_city"></a>
            {% endif %}
        {% endif %}
        <p style="display: inline-block">{{ city }}</p>
    </div>
    <div class="block">
        <div class="block_1">
            <div class="block header">
                <p>Visual Crossing Weather</p>
            </div>
            <div class="temperature now">
                <p>{{ api_1[0][0] }}°</p>
            </div>
            <hr class="hr-line"/>
            <div class="forecast7">
                <p>Прогноз на 7 дней</p>
                <div class="day 1">
                    <p>{{ massiv[1][0] }}</p>
                    <div class="day-temperature">
                        <p>{{ api_1[1][0] }}°</p>
                    </div>
                    <div class="night-temperature">
                        <p>{{ api_1[1][1] }}°</p>
                    </div>
                    <div class="features">
                        <p>{{ api_1[1][2] }}</p>
                    </div>
                </div>
                <div class="day 2">
                    <p>{{ massiv[2][0] }}</p>
                    <div class="day-temperature">
                        <p>{{ api_1[2][0] }}°</p>
                    </div>
                    <div class="night-temperature">
                        <p>{{ api_1[2][1] }}°</p>
                    </div>
                    <div class="features">
                        <p>{{ api_1[2][2] }}</p>
                    </div>
                </div>
                <div class="day 3">
                    <p>{{ massiv[3][0] }}</p>
                    <div class="day-temperature">
                        <p>{{ api_1[3][0] }}°</p>
                    </div>
                    <div class="night-temperature">
                        <p>{{ api_1[3][1] }}°</p>
                    </div>
                    <div class="features">
                        <p>{{ api_1[3][2] }}</p>
                    </div>
                </div>
            </div>
            <hr class="hr-line"/>
            <div class="forecast7_2">
                <div class="day 1">
                    <p>{{ massiv[4][0] }}</p>
                    <div class="day-temperature">
                        <p>{{ api_1[4][0] }}°</p>
                    </div>
                    <div class="night-temperature">
                        <p>{{ api_1[4][1] }}°</p>
                    </div>
                    <div class="features">
                        <p>{{ api_1[4][2] }}</p>
                    </div>
                </div>
                <div class="day 2">
                    <p>{{ massiv[5][0] }}</p>
                    <div class="day-temperature">
                        <p>{{ api_1[5][0] }}°</p>
                    </div>
                    <div class="night-temperature">
                        <p>{{ api_1[5][1] }}°</p>
                    </div>
                    <div class="features">
                        <p>{{ api_1[5][2] }}</p>
                    </div>
                </div>
                <div class="day 3">
                    <p>{{ massiv[6][0] }}</p>
                    <div class="day-temperature">
                        <p>{{ api_1[6][0] }}°</p>
                    </div>
                    <div class="night-temperature">
                        <p>{{ api_1[6][1] }}°</p>
                    </div>
                    <div class="features">
                        <p>{{ api_1[6][2] }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="block_2">
            <div class="block header">
                <p>Gismeteo</p>
            </div>
            <div class="temperature now">
                <p>{{ massiv[0][1][0] }}°</p>
            </div>
            <hr class="hr-line"/>
            <div class="forecast7">
                <p>Прогноз на 7 дней</p>
                <div class="day 1">
                    <p>{{ massiv[1][0] }}</p>
                    <div class="day-temperature">
                        <p>{{ massiv[1][1][0] }}°</p>
                    </div>
                    <div class="night-temperature">
                        <p>{{ massiv[1][1][1] }}°</p>
                    </div>
                    <div class="features">
                        <p>{{ massiv[1][1][2] }}</p>
                    </div>
                </div>
                <div class="day 2">
                    <p>{{ massiv[2][0] }}</p>
                    <div class="day-temperature">
                        <p>{{ massiv[2][1][0] }}°</p>
                    </div>
                    <div class="night-temperature">
                        <p>{{ massiv[2][1][1] }}°</p>
                    </div>
                    <div class="features">
                        <p>{{ massiv[2][1][2] }}</p>
                    </div>
                </div>
                <div class="day 3">
                    <p>{{ massiv[3][0] }}</p>
                    <div class="day-temperature">
                        <p>{{ massiv[3][1][0] }}°</p>
                    </div>
                    <div class="night-temperature">
                        <p>{{ massiv[3][1][1] }}°</p>
                    </div>
                    <div class="features">
                        <p>{{ massiv[3][1][2] }}</p>
                    </div>
                </div>
            </div>
            <hr class="hr-line"/>
            <div class="forecast7_2">
                <div class="day 1">
                    <p>{{ massiv[4][0] }}</p>
                    <div class="day-temperature">
                        <p>{{ massiv[4][1][0] }}°</p>
                    </div>
                    <div class="night-temperature">
                        <p>{{ massiv[4][1][1] }}°</p>
                    </div>
                    <div class="features">
                        <p>{{ massiv[4][1][2] }}</p>
                    </div>
                </div>
                <div class="day 2">
                    <p>{{ massiv[5][0] }}</p>
                    <div class="day-temperature">
                        <p>{{ massiv[5][1][0] }}°</p>
                    </div>
                    <div class="night-temperature">
                        <p>{{ massiv[5][1][1] }}°</p>
                    </div>
                    <div class="features">
                        <p>{{ massiv[5][1][2] }}</p>
                    </div>
                </div>
                <div class="day 3">
                    <p>{{ massiv[6][0] }}</p>
                    <div class="day-temperature">
                        <p>{{ massiv[6][1][0] }}°</p>
                    </div>
                    <div class="night-temperature">
                        <p>{{ massiv[6][1][1] }}°</p>
                    </div>
                    <div class="features">
                        <p>{{ massiv[6][1][2] }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="block_3">
            <div class="block header">
                <p>Open Weather Map</p>
            </div>
            <div class="temperature now">
                <p>{{ api_2[0][0] }}°</p>
            </div>
            <hr class="hr-line"/>
            <div class="forecast7">
                <p>Прогноз на 7 дней</p>
                <div class="day 1">
                    <p>{{ massiv[1][0] }}</p>
                    <div class="day-temperature">
                        <p>{{ api_2[1][0] }}°</p>
                    </div>
                    <div class="night-temperature">
                        <p>{{ api_2[1][1] }}°</p>
                    </div>
                    <div class="features">
                        <p>{{ api_2[1][2] }}</p>
                    </div>
                </div>
                <div class="day 2">
                    <p>{{ massiv[2][0] }}</p>
                    <div class="day-temperature">
                        <p>{{ api_2[2][0] }}°</p>
                    </div>
                    <div class="night-temperature">
                        <p>{{ api_2[2][1] }}°</p>
                    </div>
                    <div class="features">
                        <p>{{ api_2[2][2] }}</p>
                    </div>
                </div>
                <div class="day 3">
                    <p>{{ massiv[3][0] }}</p>
                    <div class="day-temperature">
                        <p>{{ api_2[3][0] }}°</p>
                    </div>
                    <div class="night-temperature">
                        <p>{{ api_2[3][1] }}°</p>
                    </div>
                    <div class="features">
                        <p>{{ api_2[3][2] }}</p>
                    </div>
                </div>
            </div>
            <hr class="hr-line"/>
            <div class="forecast7_2">
                <div class="day 1">
                    <p>{{ massiv[4][0] }}</p>
                    <div class="day-temperature">
                        <p>{{ api_2[4][0] }}°</p>
                    </div>
                    <div class="night-temperature">
                        <p>{{ api_2[4][1] }}°</p>
                    </div>
                    <div class="features">
                        <p>{{ api_2[4][2] }}</p>
                    </div>
                </div>
                <div class="day 2">
                    <p>{{ massiv[5][0] }}</p>
                    <div class="day-temperature">
                        <p>{{ api_2[5][0] }}°</p>
                    </div>
                    <div class="night-temperature">
                        <p>{{ api_2[5][1] }}°</p>
                    </div>
                    <div class="features">
                        <p>{{ api_2[5][2] }}</p>
                    </div>
                </div>
                <div class="day 3">
                    <p>{{ massiv[6][0] }}</p>
                    <div class="day-temperature">
                        <p>{{ api_2[6][0] }}°</p>
                    </div>
                    <div class="night-temperature">
                        <p>{{ api_2[6][1] }}°</p>
                    </div>
                    <div class="features">
                        <p>{{ api_2[6][2] }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
