{% extends 'base.html' %}

{% block title %}Оставить отзыв{% endblock %}

{% block header %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger"
                 style="font-size: 20px; position:relative; top: -15px; color: #b60000; font-weight: bold">
                {{ messages[0] }}
            </div>
        {% endif %}
    {% endwith %}
    <div class="card mx-auto mb-4 rounded-0" style="max-width: 35rem;">
        <div class="card-body position-relative">
            <!-- Форма обратной связи -->
            <form id="feedbackForm" method="POST">
                {{ form.csrf_token }}
                <div class="form-row">
                    <div class="col-sm-6">
                        <!-- Имя пользователя -->
                        <div class="form-group">
                            <label for="name" class="control-label">Имя</label>
                            <input id="name" type="text" name="name" class="form-control" value="" placeholder="Имя"
                                   minlength="1" maxlength="255" required="required">
                            <div class="invalid-feedback"></div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <!-- Email пользователя -->
                        <div class="form-group">
                            <label for="email" class="control-label">Email-адрес</label>
                            <input id="email" type="email" name="email" required="required" class="form-control" minlength="5" maxlength="255"
                                   value="" placeholder="Email-адрес">
                            <div class="invalid-feedback"></div>
                        </div>
                    </div>
                </div>
                <!-- Сообщение пользователя -->
                <div class="form-group">
                    <label for="message" class="control-label">Сообщение</label>
                    <textarea id="message" name="message" class="form-control" rows="3"
                              placeholder="Сообщение" minlength="1"
                              maxlength="10000" required="required"></textarea>
                    <div class="invalid-feedback"></div>
                </div>
                <!-- Сообщение при ошибке -->
                <div class="alert alert-danger form-error d-none">
                    Исправьте данные и отправьте форму ещё раз.
                </div>
                <!-- Кнопка для отправки формы -->
                <div class="text-right submit">
                    <button type="submit" class="btn btn-primary position-relative">Отправить сообщение</button>
                </div>
            </form>

            <!-- Сообщение об успешной отправки формы -->
            <div class="form-result-success d-none text-center justify-content-center align-items-center" style="position: absolute;
    top: 0; left: 0; right: 0; bottom: 0; background: rgba(0,0,0,.6); color: #fff; font-size: 1.25rem;">
                <div class="alert alert-success rounded-0">Форма успешно отправлена. Нажмите на
                    <a class="alert-link" href="#" data-reloadform="#feedbackForm">ссылку</a>, чтобы отправить ещё одно
                    сообщение.
                </div>
            </div>

        </div>
    </div>
{% endblock %}